<h2>{{titulo}}</h2>
<form [formGroup] = "formulario" (submit)="insertUpdateUsuari()">    
    <div class="form-group col-6 mt-3">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control mt-2" formControlName="nombre">
    </div>
    <div class="form-group col-6 mt-3">
        <label for="apellido">Apellidos</label>
        <input type="text" class="form-control mt-2" formControlName="apellido">
    </div>   
    <div class="form-group col-6 mt-3">
        <label for="email">email</label>
        <input type="email" class="form-control mt-2" formControlName="email" placeholder="usuario@dominio.com">
    </div>
    <br>
    <button type="submit" class="btn btn-success me-1">
        {{is_add_user ? 'Añadir' : 'Actualizar'}}
    </button>
    <button type="button" class="btn btn-primary" [routerLink]="['/application','home']">
        <i class="fa fa-rotate-left"></i> Lista
    </button>
</form>
<div class="row mt-3">
    <div class="col">
        <span  [ngStyle]="{color: form_valido==true ? 'green': 'red'}">{{mensaje_validacion}}</span>    
        <span  *ngIf="form_valido"  [ngStyle]="{color: form_valido==true ? 'green': 'red'}">{{mensaje_usuario_creado_editado}}</span>
    </div>    
</div>
